
{% set route = app.request.attributes.get('_route') %}
<nav id="maNav" class="navbar">    
    <div id="navlogo">
        <a id="lienLogo" href="{{ path('index') }}"><img id="logo" src="{{ asset('images/Logo_Carrelet.jpg') }}" alt="logo carrelet"></a>
        <a id="burger" href="#"><i class="fas fa-bars"></i></a>
        <a id="cross" href="#"><i class="fas fa-times"></i></a>
    </div>
    <div id="liens" class="item">
        <a {{ route ==  'index' ? 'class="nav-item active"' : 'class="nav-item"'}} id="lien" href="{{ path('index') }}">Accueil</a>
        <a {{ route ==  'carte' ? 'class="nav-item active"' : 'class="nav-item"'}}id="lien" class="nav-item" href="{{ path('carte') }}">Notre Carte</a>
        <a {{ route ==  'evenements' ? 'class="nav-item active"' : 'class="nav-item"'}}id="lien" href="{{ path('evenements') }}">Evénements</a>
        <a {{ route ==  'apropos' ? 'class="nav-item active"' : 'class="nav-item"'}}id="lien" href="{{ path('apropos') }}">Notre Histoire</a>
        <a {{ route ==  'contact' ? 'class="nav-item active"' : 'class="nav-item"'}}id="lien" href="{{ path('contact') }}">Contactez-nous</a>
    </div>
    <div  class="reseaux">
        <a href="https://www.instagram.com/lecarreletbarbordeaux/?hl=fr" target="_blank"> <img class="reseau" src="{{ asset('images/instagram.png') }}" alt="logo instagram"></a>
        <a href="https://fr-fr.facebook.com/lecarreletbarbordeaux/" target="_blank"> <img class="reseau" src="{{ asset('images/facebook.png') }}" alt="logo facebook"></a>
        <a href="https://www.google.com/maps/place/Le+Carrelet/@44.8625475,-0.5588996,17z/data=!3m1!4b1!4m5!3m4!1s0xd5529cbf00d0011:0x650f55d0657b89c9!8m2!3d44.8625437!4d-0.5567109" target="_blank"> <img class="reseau" src="{{ asset('images/google-maps.png') }}" alt="logo google-maps"></a>
    </div>
</nav>


