{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Carte {% endblock %}

{% block linkCss %} <link rel="stylesheet" type="text/css" href="{{ asset('css/styleDetails.css') }}"> {% endblock %}

{% block body %}

    
    <div id="contentDetails">

        <div id="namesection">
            <h1>{{categorie.name}}</h1>
        </div>

            {% for product in products %}         

            <div class="produit">
                <div id="image">
                   <p class="image">{{ product.image}}</p>
                </div>

                <div id="contenu">
                    <h2 class="nom">{{ product.name}}</h2>
                    <p class="recette">{{ product.recipe}}</p>
                    <p class="prix">{{ product.price}}€</p>
                </div>  
            </div>

            {% endfor %} 
        
    </div>


{% endblock %}