{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Carte {% endblock %}

{% block linkCss %} <link rel="stylesheet" type="text/css" href="{{ asset('css/styleCarte.css') }}"> {% endblock %}

{% block body %}



    <div class="titre">
        <h1>Notre Carte</h1>
    </div>
    <div class="texte1">
        <div id="texte1Description">

            <div id="contentDetails">
                {% for category in categories %}
                        <div class="produit"><a class="carteDescriptif" id="{{ category.name }}" href="{{ path('carte_details', { id: category.id} ) }}">{{ category.name }}</a></div>
                {% endfor %}
            </div>

        </div>
    </div>


   

{% endblock %}


                
               
            