{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil {% endblock %}

{% block linkCss %} <link rel="stylesheet" type="text/css" href="{{ asset('css/styleIndex.css') }}"> {% endblock %}

{% block body %}
    <div class="titre">
        <h1>Le Carrelet</h1>
        <h2>Bar à Cocktails</h2>
    </div>
    <div class="texte1">
        <p>Le Carrelet vous accueille, du lundi au samedi, pour déguster nos
            savoureux cocktails dans une ambiance chaleureuse et conviviale.</p>
    </div>
    <div class="texte2">
        <p>Ouverture : lundi de 11h00 à 16h30</p>
        <p>Du mardi au vendredi de 11h00 à 02h00</p>
        <p>Samedi de 20h30 à 02h00</p>
    </div> 

{% endblock %}
