{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Administration {% endblock %}

{% block linkCss %} <link rel="stylesheet" type="text/css" href="{{ asset('css/styleAdmin.css') }}"> {% endblock %}


{% block body %}

  <main id="pres-accueil">
    <div class="content-pres">
        
      <div id="loginContainer">

        <form method="post">
          {% if error %}
            <div class="alert alert-danger">
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
          {% endif %}

          {# 
          {% if app.user %}
            <div class="mb-3">
              Vous allez vous connecter en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
          {% endif %}
          #}

          <h1 class="h3 mb-3 font-weight-normal">
            Connectez-vous
          </h1>
          <p>
            <label for="inputUsername">
              Nom d'utilisateur
            </label>
            <input type="text"
              value="{{ last_username }}"
              name="username"
              id="inputUsername"
              class="form-control"
              required
              autofocus />
          </p>
          <p>
            <label for="inputPassword">
              Mot de passe
            </label>
            <input type="password"
              name="password"
              id="inputPassword"
              class="form-control"
              required />

            <input type="hidden"
              name="_csrf_token"
              value="{{ csrf_token('authenticate') }}" />
          

          {# 
              Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
              See https://symfony.com/doc/current/security/remember_me.html

              <div class="checkbox mb-3">
                  <label>
                      <input type="checkbox" name="_remember_me"> Remember me
                  </label>
              </div>
          #}

          <p> 
            <button class="boutonOrange btn btn-lg btn-primary" type="submit">
              Valider
            </button>
          </p>
        </form>

      </div>

            
    </div>
  </main>

{% endblock %}
