body {
    background-image: url("../images/Fond_Contact.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* MAIN */

.titre-contact {
    width: 100%;
    text-align: center;
    margin-top: 1vw;
}

.titre-contact h1 {
    font-size: 8vw;
    font-weight: 100;
    color: var(--blanc);
}

.content-pres-contact {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    
}

.adresse-map {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.adresse {
    width: 100%;
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65));
    border: 3px solid var(--orange);
    padding: 1rem;
}

.adresse h3 {
    font-size: 3vw;
    font-weight: 100;
    color: var(--blanc);
    text-align: center;
}

.adresse-detail p {
    font-family: Lato;
    font-size: 1.8vw;
    color: var(--blanc);
    padding: 5px;
}

.map {
    width: 100%;
    height: 50%;
    margin-top: 2rem;
}

iframe {
    width: 100%;
    height: 100%;
}

.cont-form {
    width: 60%;
    border: 3px solid var(--orange);
    padding: 1rem 3rem;
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65));
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

#nom div, #email div, #textarea div {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--blanc);
    font-family: Lato;
    font-size: 1.8vw;
    margin-bottom: 5px;
    padding: 0 5px 0 0
}
    
input {
    height: 3.5vh;
    margin-bottom: 1vh;
    font-size: 1.5vw;
}

#contact_message {
    height: 20vh;
    margin-bottom: 1vh;
    font-size: 1.5vw;
    resize: none;
}

#textarea li {
    list-style-type: none;
    padding: 5px;
    background-color: var(--blanc);
    color: red;
    font-size: 1.5vw;
    font-family: LatoBold;
    border: 2px solid red;
}

#textarea li:first-child {
    display: none;
}

.check-label-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.check-label-submit label {
    font-size: 1vw;
}

.check-label {
    display: flex;
    align-items: center;
    width: 70%;
}

.check-label a {
    color: var(--blanc);
    text-decoration-color: var(--orange);
}

input[type="checkbox"] {
    width: 10%;
    margin-right: 0.5vw;
    margin-bottom: 0;
}

button[type="submit"] {
    padding: 0.5rem 4rem;
    font-family: Parisienne;
    font-weight: 100;
    font-size: 2vw;
    background-color: transparent;
    background-image: linear-gradient(rgba(236, 102, 57, 0.3), rgba(236, 102, 57, 0.3));
    border: 3px solid var(--orange);
    color: var(--blanc);
    text-align: center;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--orange);
    transition: 300ms linear;
}

.reseauxIpad {
    display: none;
}

#modal {
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
}


.imgModal {
    width: 70%;
    padding: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid var(--anthracite);
}

#modal img {
    width:100%;
}

.modalContent {
    background-color: var(--anthracite);
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
}

.modalContent p {
    color: var(--blanc);
    font-size: 1.2vw;
    font-family: Lato;
    font-weight: 100;
    padding: 1rem;
    border: 1px solid var(--orange);
}

.modalContent img {
    width: 3vw !important;
    height: 3vw;
    margin-left: 1vw;
    cursor: pointer;
}


/* MEDIA QUERIE */


@media screen and (max-width: 992px) {

    /* MAIN */


    .titre-contact {
        margin-top: 0vw;
    }

    .titre-contact h1 {
        font-size: 9vw;
        
    }

    .content-pres-contact {
        margin-top: 8rem;
        
    }

    button[type="submit"] {
        font-size: 2.5vw;
    }
    
}


@media screen and (max-width: 768px) {
    

    /* MAIN */

    .titre-contact {
        margin-top: 5vw;
    }

    .content-pres-contact {
        margin-top: 5rem;
        height: 70%;
    }

    .adresse h3 {
        margin-top: 1vh
    }

    .adresse-detail p {
        font-size: 2vw;
    }

    input {
        font-size: 2vw;
    }

    #textarea li {
        font-size: 1.8vw;
    }
    
    #contact_message {
        font-size: 2vw;
    }

    .check-label-submit label {
        font-size: 1.5vw;
        margin-left: 0.5rem;
    }

     #modal {
        width: 55%;
    }

    .reseauxIpad {
        position: absolute;
        bottom: 3.5vh;
        left: 50%;
        transform: translate(-50%);
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }

    img.reseau {
        width: 4.5vw;
        margin: 0 20 -7 0 !important;
    }

}

@media screen and (max-width: 576px) {

            /* MAIN */

    #pres-accueil {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .content-pres {
        margin-top: 0rem;
    }
    

    .titre-contact {
        margin-top: 0vw;
    }

    .titre-contact h1 {
        font-size: 12vw;
        align-self: center;
        margin-top: 0vw;
    }

    .content-pres-contact {
        margin-top: 4rem;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vh;
    }

   
    .adresse-map {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 95vw;
    }

    .adresse {
        margin-bottom: 2vh;
    }

    .adresse h3 {
        font-size: 8vw;
        padding: 1rem;
    }
    
    .adresse-detail p {
        text-align: center;
        font-size: 5vw;
        padding: 0 1.5rem 1rem 1.5rem;
    }
    
    .map {
        width: 100%;
        height: 25rem;
        margin-bottom: 4vh;
    }
    
    .cont-form {
        width: 90%;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
    }

    label {
        font-size: 4vw;
    }

    input {
        font-size: 3vw;
    }
    
    #contact_message {
        font-size: 3vw;
    }

    #textarea li {
        font-size: 2.8vw;
    }

    .check-label-submit {
        margin-top: 0.5vh;
    }

    .check-label-submit label {
       font-size: 2vw;
    }

    .check-label {
        width: 50%;
    }
    
    input[type="checkbox"] {
        width: 10vw;
        margin-right: 0.5vw;
    }
    
    button[type="submit"] {
        padding: 0.3rem 3rem;
        font-size: 4vw;
    }

    #modal {
        width: 60%;
        flex-direction: column;
    }

    .imgModal {
        width: 100%;
    }

    .modalContent {
        padding: 2rem 1rem 2rem 2rem;
    }

    .modalContent p{
        font-size: 2.2vw;
    }

    .modalContent img {
        width: 4vw !important;
        height: 4vw;
        margin-left: 2vw;
        cursor: pointer;
    }

    .reseauxIpad {
        position: static;
        align-self: center;
        transform: translate(0%);
        width: 30%;
    }
    
    img.reseau {
        width: 6.5vw;
    }

}