@font-face {
    font-family: Parisienne;
    src: url(fonts/Parisienne/Parisienne-Regular.ttf);
    font-weight: 100;
  }

@font-face {
font-family: Lato;
src: url(fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(fonts/Lato/Lato-Bold.ttf);
    }

:root {
--orange: rgb(236, 102, 57);
--bleu: rgb(57, 80, 102);
--blanc: rgb(246, 246, 246);
--anthracite: rgb(29, 29, 29);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Parisienne;
    font-weight: 100;
    background-image: url("../images/Fond_accueil_projet.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    max-height: 100vh;
}

/* SECTION  */

#accueil {
    width: 100%;
    height: 97vh;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(12, 1fr);
    overflow-y: auto;
}

/* NAVIGATION SIDEBAR */

nav.navbar {
    grid-column: span 3;
    grid-row: span 12;
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
    background-image: linear-gradient(rgba(29, 29, 29, 0.7), rgba(29, 29, 29, 0.7));
}

#navlogo {
    width: 100%;
    background-color: white;
    padding: 4rem 1.2rem;
    display: flex;
}

/*  RESPONSIVE MENU BURGER ET CROIX + JS */
#burger{
    display: none;
}

#cross {
    display: none;
}

/*  FIN RESPONSIVE MENU BURGER ET CROIX + JS */

#logo {
    width: 100%
}

div.item {
    border: 1px solid var(--orange);
}

/*  RESPONSIVE MENU POUR IPAD ET IPHONE + JS */
.item2 {
    position: absolute;
    display: none;
    width: 100%;
    background-color: var(--anthracite);
    z-index: 1000;
}
/*  FIN RESPONSIVE MENU POUR IPAD ET IPHONE */

.nav-item {
    text-decoration: none;
    display: block;
    color: var(--blanc);
    padding: 2.7rem 0rem;
    background-color: transparent;
    width: 100%;
    font-size: 2vw;
}

a.nav-item:not(:nth-child(5)) {
    border-bottom: 1px solid var(--orange);
}

.nav-item:hover {
    color: var(--orange);
    border: 6px solid var(--orange) !important; 
    padding: 2.15rem 0rem;
}

.active {
    color: var(--orange);
    border: 6px solid var(--orange) !important;
    padding: 2.15rem 0rem;
}

a.nav-item:not(:nth-child(5)) {
    border-bottom: 1px solid var(--orange);
}


.reseaux {
    height: 100%;
    border-left: 1px solid var(--orange);
    border-right: 1px solid var(--orange);
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

img.reseau {
    width: 2.2vw;
    margin-bottom: 2rem;
    opacity: 0.5;

}
.reseauxIpad {
    display: none;
}
/* MAIN */


/* CADRE CENTRAL */
#pres-accueil {
    grid-column: span 15;
    grid-row: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.content-pres {
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65));
    width: 96%;
    height: 97%;
    overflow: auto;
    border: 3px solid var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* /CADRE CENTRAL */


/* FOOTER */
footer {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-family: lato;
    background-color: #395066;
    text-align: center;
    font-size: 1.1vw;
    color: var(--blanc);
}

footer a {
    color: var(--blanc);
    text-decoration-color: var(--orange);
}


/* MEDIA QUERIE */


@media screen and (max-width: 992px) {
    /* MAIN */

    .content-pres {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 768px) {
    /* SECTION  */

    #accueil {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: 1.8vw;
    }


    /* NAVIGATION */

    nav.navbar {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #navlogo {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    #lienLogo {
        width: 20%;
        justify-self: flex-start;
        margin-right: auto;
        margin-left: 2rem;
    }

    #burger {
        display: block;
        margin-right: 2rem;
    }

    .fa-bars {
        color: var(--anthracite);
        font-size: 4vw;
    }

    #cross {
        display: none;
        margin-right: 2rem;
    }

    .fa-times {
        color: var(--anthracite);
        font-size: 5vw;
    }

    .reseaux {
        display: none;
    }

    .item2 {
        top: 100%;
    }

    /* MAIN */

    .content-pres {
        justify-content: space-evenly;
        height: 90%;
        margin-top: -3rem;
    }

    .reseauxIpad {
        position: absolute;
        bottom: 3.5vh;
        align-self: flex-end;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly
    }

    img.reseau {
        width: 3rem;
        margin-bottom: 0;
        opacity: 0.5;
    }
}

@media screen and (max-width: 576px) {

    a.nav-item {
        font-size: 5vw !important;
    }

    .content-pres {
        justify-content: space-evenly;
        /*height: 82%;
        margin-top: 5rem;*/
    }

    footer {
        font-size: 2vw;
    }
}