*{
    color: var(--blanc);
}

body {
    
    background-image: url("../images/Fond_Notre-Carte.jpg");
    
}

.titre {
    margin-top: 1.5vw;
}

h1
{
    font-size:8vw;
    font-family:Parisienne;
    font-weight: 100;
}
#contentDetails{
    margin-bottom: 0vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.produit{
    text-align: center;
    padding: 10px;
    grid-column: span 6;
    margin-bottom: 3vw;
    
}

#texte1Description
{
    margin-top: -4vw;
}

.texte1
{
    background-image: none;
    border: none;
    width: 90%;
    margin-bottom: 2vw;
}

a.carteDescriptif
{
    position: relative;
    font-size: 4vw;
    text-decoration: none;
    /*border-bottom:3px solid var(--orange);*/
}

a.carteDescriptif::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    top: 100%;
    left: 0;
    background-color: var(--orange);
    transition: 200ms linear;

}

a.carteDescriptif:hover {
    color: var(--orange);
    transition: 200ms linear;
}

a.carteDescriptif:hover::before {
    width: 100%;
}


/* MEDIA QUERIE */


@media screen and (max-width: 1200px) {
    
    /*.titre {
        margin-top: -12rem;
    }*/

    #contentDetails{
        margin-bottom: 7vh;
        
    }
}



@media screen and (max-width: 992px) {
    
    .titre {
        margin-top: -12rem;
    }

    #contentDetails{
        margin-bottom: -8vh;
        
    }
}


@media screen and (max-width: 768px) {

    .titre {
        margin-top: -7rem;
    }

    

}

@media screen and (max-width: 576px) {

    .titre {
        margin-top: -7rem;
    }

}