/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--blanc);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: var(--blanc);
    color: black;
}
  
body{
    background-image: url("../images/Notre-Histoire-01.jpg");
    
}
  
/* MAIN */
.titre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.titre h1{
    font-size: 7vw;
    font-weight: 100;
    color: var(--blanc);
    text-align: center;
}
  
h3 {
    font-size: 3vw;
    font-weight: 100;
    color: var(--blanc);
    text-align: center;
    padding-bottom: 20px;
}
  
.texte1 {
    font-family: Lato;
    width: 75%;
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65));
    font-size: 1.8vw;
    font-weight: 100;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 1px solid var(--orange);
    color: var(--blanc);
}

/* MEDIA QUERIE */

@media screen and (max-width: 992px) {
/* MAIN */
   
    .titre {
        margin-top: 0rem;
    }

    .titre h1 {
        font-size: 7vw;
        align-self: center;
        margin-left: 0rem;
    }

    .texte1 {
        font-size: 2.5vw;
        text-align: center;
    }
}


@media screen and (max-width: 768px) {
/* MAIN */
    .titre {
        margin-top: 0rem;
    }

    .titre h1 {
        font-size: 9vw;
        align-self: center;
        margin-left: 0rem;
    }

    .texte1 {
        font-size: 2.5vw;
        text-align: center;
    }
}