<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Carrelet{% endblock %}</title>
        
        <link rel="icon" href="{{ asset('images/Logo_Carrelet.ico') }}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendors/fontawesome/css/all.min.css') }}">       
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('vendors/jquery/jquery-3.4.1.min.js') }}"></script>
        
        {% block linkCss %}{% endblock %}

    </head>
    <body>

        <section id="accueil">
            {{ include('app/_nav.html.twig') }}
            <main id="pres-accueil">
                <div class="content-pres">
                     {% block body %}
                     {% endblock %}
                </div>
                <div  class="reseauxIpad">
                    <a href="https://www.instagram.com/lecarreletbarbordeaux/?hl=fr" target="_blank"><img class="reseau" src="{{ asset('images/instagram.png') }}" alt="logo instagram"></a>
                    <a href="https://fr-fr.facebook.com/lecarreletbarbordeaux/" target="_blank"><img class="reseau" src="{{ asset('images/facebook.png') }}" alt="logo facebook"></a>
                    <a href="https://www.google.com/maps/place/Le+Carrelet/@44.8625475,-0.5588996,17z/data=!3m1!4b1!4m5!3m4!1s0xd5529cbf00d0011:0x650f55d0657b89c9!8m2!3d44.8625437!4d-0.5567109" target="_blank"><img class="reseau" src="{{ asset('images/google-maps.png') }}" alt="logo google-maps"></a>
                 </div>
            </main>
        </section>

        {{ include('app/_footer.html.twig') }}

        

        {% block javascripts %}
           
            <script src="{{ asset('js/script.js') }}"></script>

        {% endblock %}
        
        
    </body>
</html>